@{
    ViewData["Title"] = "Página Não Encontrada";
}

<div class="container text-center mt-5">
    <h1 class="display-4">404</h1>
    <p class="lead">Ops! A página que você está procurando não foi encontrada.</p>
    <div class="my-4">
        <i class="bi bi-exclamation-triangle" style="font-size: 6rem; color: #dc3545;"></i>
    </div>
    <p>Parece que você se perdeu. Não se preocupe, vamos ajudá-lo a voltar ao caminho certo!</p>
    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index">Voltar para a Página Inicial</a>
</div>
